<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
        point="org.eclipse.equinox.http.registry.servlets">
        <servlet
         alias="/p"
         class="org.emrys.webosgi.launcher.osgi.BridgeHttpServlet"
         load-on-startup="true">
           <init-param
                 name="name"
                 value="EmbeddedBridgeServlet">
           </init-param>
        </servlet>
    </extension>
</plugin>
