<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.CONFIG_FILES</param-name>
  <param-value>/WEB-INF/faces-config.xml</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.BUILD_BEFORE_RESTORE</param-name>
  <param-value>true</param-value>
 </context-param>
 <servlet>
  <description>Resource Upload Reciever Servlet</description>
  <display-name>Resource Upload Reciever Servlet</display-name>
  <servlet-name>resUploadSvcServlet</servlet-name>
  <servlet-class>org.emrys.core.runtime.resources.servlet.ResUploadSvcServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>resUploadSvcServlet</servlet-name>
  <url-pattern>/ul</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>6000000</session-timeout>
 </session-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
