<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <description>Bridge-Servlet Launcher</description>
 <display-name>root</display-name>
 <servlet id="bridge">
  <description>Equinox Bridge Servlet</description>
  <display-name>Equinox Bridge Servlet</display-name>
  <servlet-name>equinoxbridgeservlet</servlet-name>
  <servlet-class>org.emrys.webosgi.launcher.jee.BridgeHttpServlet</servlet-class>
  <init-param>
   <param-name>commandline</param-name>
   <param-value>-console -clean -data @nodefault</param-value>
  </init-param>
  <init-param>
   <param-name>enableFrameworkControls</param-name>
   <param-value>true</param-value>
  </init-param>
  <!--
		  org.eclipse.equinox.servletbridge and the Servlet API are exported automatically to the underlying OSGi framework.
		  The extendedFrameworkExports parameter allows the specification of additional java package exports.
		  The format is a comma separated list of exports as specified by the "Export-Package" bundle manifest header.
		  For example: com.mycompany.exports; version=1.0.0, com.mycompany.otherexports; version=1.0.0
		  -->
  <init-param>
   <param-name>extendedFrameworkExports</param-name>
   <param-value/>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>equinoxbridgeservlet</servlet-name>
  <url-pattern>/*</url-pattern>
 </servlet-mapping>
 <!--
	  This is required if your application bundles expose JSPs. 
	-->
 <servlet-mapping>
  <servlet-name>equinoxbridgeservlet</servlet-name>
  <url-pattern>*.jsp</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
